.form-control {
  display: block;
  width: 100%;
  padding: rem(24) rem(16);
  border: 2px solid $navy;
  font-size: rem(16);
  line-height: 1.25;
  transition: background-color $defaultTransition, border-color $defaultTransition;

  &:hover,
  &:focus {
    border-color: $navy;
  }

  &[disabled] {
    border-color: $lineColor;
    color: $lineColor;
  }

  &._error {
    border-color: $deepCerise;
    color: $deepCerise;

    @include styledPlaceholder($deepCerise)
  }
}

textarea.form-control {
  height: rem(200);
  resize: none;
}