.form {
  $self: &;

  &__body {
    display: flex;
    margin: 0 rem(-30);

    @include tablet {
      margin: 0 rem(-20);
    }
  }

  &__col {
    width: 100%;
    max-width: 50%;
    padding: 0 rem(30);
    min-height: rem(276);

    @include tablet {
      padding: 0 rem(20);
      min-height: rem(276);
    }

    &:first-child {
      @include desktop {
        max-width: 60%;
      }

      @include mobile {
        max-width: 100%;
      }
    }

    &:last-child {
      @include desktop {
        max-width: 40%;
      }

      @include mobile {
        display: none;
      }
    }
  }

  &__group {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  &__error {
    margin-top: rem(8);
    font-size: rem(14);
    line-height: 1.3;
    font-weight: 400;
    color: $deepCerise;
  }

  &__label {
    display: flex;
    align-items: center;
    margin-bottom: rem(12);
    color: $navy;
    font-size: rem(14);
    line-height: 1.3;

    & > span:not(.tooltip) {
      margin-right: rem(8);
    }

    sup {
      position: relative;
      left: rem(4);
      top: rem(2);
      color: $deepCerise;
      font-weight: 500;
      font-size: 1.14em;
      vertical-align: top;
    }
  }

  &__content {
    position: sticky;
    top: 0;
    left: 0;
    display: none;

    img {
      display: block;
      max-width: 65%;
      margin: 0 auto;

      @include desktop {
        max-width: 100%;
      }
    }
  }

  &__tooltip {
    color: $greyColor;
    font-size: rem(14);

    span {
      position: relative;
      top: rem(6);
      font-size: rem(24);
      color: $deepCerise;
    }
  }

  &.is-brand {
    #{$self}__content {
      display: block;
    }
  }
}
